name: Avalanche Canada Forecasts

on:
  schedule:
  workflow_dispatch:
  
jobs:
  setup-python:
    uses: ./.github/workflows/setup-python-env.yml
    
  use-python-env:
    needs: setup-python
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore virtual environment
        uses: actions/cache@v4
        with:
          path: venv
          key: venv-${{ runner.os }}-${{ hashFiles('requirements.txt') }}

      - name: Use Python Environment
        run: |
          source venv/bin/activate
          python bchydro-outages/bchydro_outages.py  # Run your script
        env:
          AGO_PORTAL_URL: ${{ secrets.AGO_PORTAL_URL }}
          AGO_USER: ${{ secrets.AGO_USER }}
          AGO_PASS: ${{ secrets.AGO_PASS }}
          AVALANCHEFORECAST_ITEMID: ${{ secrets.AVALANCHEFORECAST_ITEMID }}
